html {
    color:#222;
    font-size:1em;
    line-height:1.4
  }
  ::-moz-selection {
    background:#b3d4fc;
    text-shadow:none
  }
  ::selection {
    background:#b3d4fc;
    text-shadow:none
  }
  hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #ccc;
    margin:1em 0;
    padding:0
  }
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align:middle
  }
  fieldset {
    border:0;
    margin:0;
    padding:0
  }
  textarea {
    resize:vertical
  }
  .browserupgrade {
    margin:.2em 0;
    background:#ccc;
    color:#000;
    padding:.2em 0
  }
  body {
    margin:0
  }

  @font-face {
    font-family:dejavu sans;
    src:url(/fonts/DejaVuSans-ExtraLight.woff2)format('woff2'),
    url(/fonts/DejaVuSans-ExtraLight.woff)format('woff');
    font-weight:200;
    font-style:normal
  }



  a {
    background-color:transparent;
    text-decoration:none;
    color:#1c2f82
  }
  
  body,
  button,
  input,
  select,
  optgroup,
  textarea {
    font-family:dejavu sans,sans-serif;
    font-weight:100;
    font-size:16px;
    font-size:1rem;
    line-height:1.5;
    color:#1c2f82
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    clear:both
  }
  h1,
  h2 {
    font-family:lekton,monospace;
    font-weight:700
  }
  h3,
  h4 {
    font-weight:500
  }
  h2 {
    font-family:lekton,monospace;
    font-weight:500;
    font-size:1.17em
  }
  p {
    margin-bottom:1.5em
  }
  html {
    box-sizing:border-box
  }
  *,
  *:before,
  *:after {
    box-sizing:inherit
  }
  body {
    background:#fff
  }
  
  select {
    border:1px solid #ccc
  }
  textarea {
    width:100%
  }
  a {
    color:#1c2f82
  }
  a:visited {
    color:#1c2f82
  }
  a:hover,
  a:focus,
  a:active {
    color:#1c2f82
  }
  a:focus {
    outline:none
  }
  a:hover,
  a:active {
    outline:0
  }
  a:-webkit-any-link {
    text-decoration:none
  }
  :focus {
    outline:-webkit-focus-ring-color auto 0
  }
  .container-site {
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
  }
  @media(min-width:768px) {
    .container-site {
      width:750px
    }
    .job {
      width:60%
    }
  }
  @media(min-width:992px) {
    .container-site {
      width:970px
    }
  }
  @media(min-width:1200px) {
    .container-site {
      width:1170px
    }
  }
  .main-navigation {
    clear:both;
    display:block;
    float:left;
    width:100%
  }
  .main-navigation ul {
    display:none;
    list-style:none;
    margin:0;
    padding-left:0
  }
  .main-navigation ul ul {
    box-shadow:0 3px 3px rgba(0,0,0,.2);
    float:left;
    position:absolute;
    top:100%;
    left:-999em;
    z-index:99999
  }
  .main-navigation ul ul ul {
    left:-999em;
    top:0
  }
  .main-navigation ul ul li:hover>ul,
  .main-navigation ul ul li.focus>ul {
    left:100%
  }
  .main-navigation ul ul a {
    width:200px
  }
  .main-navigation ul li:hover>ul,
  .main-navigation ul li.focus>ul {
    left:auto
  }
  .main-navigation li {
    float:left;
    position:relative
  }
  .main-navigation a {
    display:block;
    text-decoration:none
  }
  .menu-toggle,
  .main-navigation.toggled ul {
    display:block
  }
  .cls-1 {
    fill:#ffd14c
  }
  
  .home {
    height:100%;
    background-color:#fff;
    padding-right:15px;
    padding-left:15px
  }
  .home-content {
    display:flex;
    display:-webkit-flex;
    align-items:center;
    -webkit-align-items:center;
    justify-content:center;
    -webkit-justify-content:center;
    text-align:center;
    color:#1c2f82;
    padding-top:50px;
    flex-direction:column;
    z-index:2
  }
  .home-content h1 {
    font-family:lekton,monospace;
    font-weight:700;
    margin:0 0 15px;
    text-transform:uppercase;
    max-width:600px;
    margin:0 auto;
    margin-top:30px;
    margin-bottom:50px;
    z-index:3
  }
  .home-content hr {
    width:100px;
    border-top:1px solid #1c2f82;
    margin:0 auto
  }
  .home-content p {
    max-width:400px;
    margin:15px auto 25px
  }
  @media screen and (max-width:450px) {
    .home-content h1 {
      font-size:1.5em
    }
    .home-button {
      width:100px;
    }
  }
  .logo-home-filament {
    z-index:3
  }
  .logo-home-filament img {
    max-width:180px;
    margin:30px;
    z-index:3
  }
  .menu-home {
    margin:0 auto;
    margin-top:-120px
  }
  #masthead {
    position:inherit;
    width:100%;
    height:80px;
    background-color:#fff
  }
  #top-container {
    display:none;
    margin-top:40px;
    position:absolute;
    left:60px;
    right:0
  }
  @media(min-width:992px) {
    #top-container {
      display:block
    }
  }
  .menu-top {
    margin:0 auto;
    height:290px;
    display:flex;
    justify-content:center
  }
  .menu-top2 {
    margin:0 auto;
    display:flex;
    justify-content:center
  }
  .menu-home svg,
  .menu-top svg {
    width:25px
  }
  .menu-content {
    display:inline-block;
    display:flex;
    margin:0 auto
  }
  .menu-top-content {
    display:inline-block;
    display:flex;
    justify-content:center;
    margin:0 auto
  }
  #menu-top-content-2 {
    display:none;
    margin-right:75px
  }
  .title-menu {
    margin-top:100px
  }
  .title-menu a,
  .title-menu2 a {
    display:inline-block;
    font-size:14px;
    text-decoration:none;
    color:#1c2f82;
    margin:12px;
    position:relative;
    z-index:2
  }
  .title-menu2 a {
    margin:0
  }
  .menu-item a {
    position:relative
  }
  .title-menu a:after,
  .title-menu2 a:after,
  .menu-item a:after {
    content:"";
    width:100px;
    height:100px;
    background-color:#ffd14c;
    border-radius:100%;
    position:absolute;
    top:0;
    left:50%;
    margin-left:-50px;
    opacity:0;
    -webkit-transition:all .25s;
    -moz-transition:all .25s;
    -ms-transition:all .25s;
    -o-transition:all .25s;
    transition:all .25s;
    z-index:-3
  }
  .menu-page a:after {
    content:"";
    width:40px;
    height:40px;
    top:-5px;
    margin-left:-15px
  }
  .title-menu:hover a:after,
  .title-menu2:hover a:after,
  .menu-item:hover a:after {
    z-index:-3;
    top:-20px;
    margin-left:-25px;
    width:55px;
    height:55px;
    background-color:#ffd14c;
    opacity:1;
    -webkit-animation:spin_circle 2s infinite;
    -moz-animation:spin_circle 2s infinite;
    -ms-animation:spin_circle 2s infinite;
    -o-animation:spin_circle 2s infinite;
    animation:spin_circle 2s infinite
  }
  .menu-page:hover a:after {
    width:25px;
    height:25px;
    margin-left:-10px;
    top:-5px
  }
  


  .menu-page:hover .span-title {
    display:block;
    background-color:#fff
  }
  .lien-home {
    width:25px;
    margin:0 10px
  }
  .menu-top,
  .menu-home,
  .menu-top2 {
    display:none
  }
  .contact-yellow-top-home,
  .label-menu-home {
    display:block
  }


  @media(min-width:992px) {
    .menu-top,
    .menu-home,
    .menu-top2 {
      display:flex
    }
    .contact-yellow-top-home,
    .label-menu-home {
      display:none
    }
  }
  @-webkit-keyframes spin_circle {
    0% {
      -webkit-transform:scale(1,1)
    }
    50% {
      -webkit-transform:scale(1.2,1.2)rotate(20deg)
    }
    100% {
      -webkit-transform:scale(1,1)
    }
  }
  @-moz-keyframes spin_circle {
    0% {
      -moz-transform:scale(1,1)
    }
    50% {
      -moz-transform:scale(1.2,1.2)rotate(20deg)
    }
    100% {
      -moz-transform:scale(1,1)
    }
  }
  @-ms-keyframes spin_circle {
    0% {
      -ms-transform:scale(1,1)
    }
    50% {
      -ms-transform:scale(1.2,1.2)rotate(20deg)
    }
    100% {
      -ms-transform:scale(1,1)
    }
  }
  @-o-keyframes spin_circle {
    0% {
      -o-transform:scale(1,1)
    }
    50% {
      -o-transform:scale(1.2,1.2)rotate(20deg)
    }
    100% {
      -o-transform:scale(1,1)
    }
  }
  @keyframes spin_circle {
    0% {
      transform:scale(1,1)
    }
    50% {
      transform:scale(1.2,1.2)rotate(20deg)
    }
    100% {
      transform:scale(1,1)
    }
  }
  
  .svg-courbe-droite {
    width:260px!important;
    margin-bottom:15px
  }
  .svg-courbe-droite-page {
    width:90px!important;
    margin-bottom:18px;
    margin-right:75px
  }
  .svg-courbe-gauche {
    width:100px!important;
    margin-bottom:140px
  }
  
  h1 {
    font-size:24px;
    text-align:center;
    margin:30px
  }
  
  